body {
    background-color: darkcyan;
}
h1#h11 {
    text-align: center;
    font: normal 35pt arial;
    color: white;
}
section#sec1 {
    background-color: white;
    text-align: center;
    margin: auto;
    width: 600px;
    font: normal 15pt arial;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 10px 10px 30px rgba(228, 5, 5, 0.733);
}
div#div1{
    padding: 10px;
    border-radius: 15px;
    background-color: darkcyan;
    font-style: oblique;
    color: beige;
}
img#img1 {
    width: 400px;
    border-radius: 50%;
}
div#div2 {
    margin-top: 50px;
}
footer#fot {
    margin-top: 50px;
    text-align: center;
    font: normal 14pt arial;
    font-style: italic;
    color: white;
}
img#tit {
    width: 50px;
    height: 30px;
    margin-left: 10px;
    border-radius: 80px;
}
